apiVersion: v1
kind: Service
metadata:
  labels:
    app: import
  name: import
  namespace: import
spec:
  ports:
  - name: "8080"
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: import
  type: ClusterIP
status:
  loadBalancer: {}
